
            <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ content_for_header }}
    <main>
        {{ content_for_layout }}
    </main>

                <!-- Start Live Server Reloading -->
                <script>
                    var ws = new WebSocket('ws://localhost:3050');
                    ws.onmessage = function(evt) { location.reload(); }
                </script>
                <!-- End Live Server Reloading -->
            </body>
            
</html>


        