.somerule {
    color: red;
    .someother-rule {
        color: blue;
    }
    .reload-color { color: green; }
    .another-color { color: purple; }
    .check-again { color: yellow; }
    .wow { color: red; }
    .another { color: green; }
    .another { color: green; }
    .something { color: #000; }
    .whackassrule { font-size: 10px; }
    .anotherule { transform: rotate(90deg); }
}