header {
  @media screen and (max-width: 767px) {
    .desktop-header {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    .mobile-header {
      display: none;
    }
  }

  .header-button {
    @extend .btn;
    @extend .mx-1;
    @extend .btn-labeled !optional;
    padding: .2rem .5rem;

    &:hover, &:focus {
      background-color: #f8f8f8;
    }

  }

  nav {
    a, a.btn {
      text-decoration: none;
      font-size: 0.95rem;
      padding: .2rem .5rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }

}